{sub_dirs, [
  "lib/cf_common",
  "lib/cfile",
  "lib/cfstore",
  "lib/cloudfile"
]}.

{erl_opts, [debug_info, fail_on_warning, {d, 'WITH_JIFFY'}]}.

{deps_dir, "deps"}.
{deps, [
  {hackney, "0.13.0", {git, "https://github.com/benoitc/hackney.git", {tag, "0.13.0"}}},
  {ssl_verify_hostname, "1.0.5", {git, "https://github.com/deadtrickster/ssl_verify_hostname.erl", {tag, "1.0.5"}}},
  {lager, "3.2.0", {git, "https://github.com/basho/lager.git", {tag, "3.2.0"}}},
  {cowboy, "2.*", {git, "https://github.com/extend/cowboy.git", {tag, "2.0.0-pre.1"}}},
  {jiffy, "0.*", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {uuid, "0.4.7", {git, "https://github.com/epappas/erlang-uuid.git", {tag, "v0.4.7"}}},
  {bcrypt, "0.*", {git, "https://github.com/smarkets/erlang-bcrypt.git", {tag, "0.5.0"}}},
  {couchbeam, "1.0.7", {git, "https://github.com/benoitc/couchbeam.git", {tag, "1.0.7"}}},
  {erl_streams, ".*", {git, "https://github.com/epappas/erl_streams.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
