{sys, [
  {lib_dirs, ["./lib", "./deps"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "cloudfile", "1",
    [
      kernel,
      stdlib,
      sasl,
      crypto,
      bcrypt,
      ranch,
      cowlib,
      cowboy,
      cf_common,
      cfile,
      cfstore,
      cloudfile
    ]},
  {rel, "start_clean", "",
    [
      kernel,
      stdlib
    ]},
  {boot_rel, "cloudfile"},
  {profile, embedded},
  {incl_cond, exclude},
  {excl_archive_filters, [".*"]}, %% Do not archive built libs
  {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
    "^erts.*/(doc|info|include|lib|man|src)"]},
  {excl_app_filters, ["\.gitignore"]},
  {app, sasl, [{incl_cond, include}]},
  {app, stdlib, [{incl_cond, include}]},
  {app, kernel, [{incl_cond, include}]},
  {app, crypto, [{incl_cond, include}]},
  {app, asn1, [{incl_cond, include}]},
  {app, public_key, [{incl_cond, include}]},
  {app, ssl, [{incl_cond, include}]},
  {app, bcrypt, [{incl_cond, include}]},
  {app, ranch, [{incl_cond, include}]},
  {app, hackney, [{incl_cond, include}]},
  {app, cowlib, [{incl_cond, include}]},
  {app, cowboy, [{incl_cond, include}]},
  {app, cloudfile, [{incl_cond, include}]},
  {app, cf_common, [{incl_cond, include}]},
  {app, cfile, [{incl_cond, include}]},
  {app, cfstore, [{incl_cond, include}]}
]}.

{target_dir, "cloudfile"}.

{overlay, [
  {mkdir, "log/sasl"},
  {copy, "rebar_files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "rebar_files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "rebar_files/cloudfile", "bin/cloudfile"},
  {copy, "rebar_files/cloudfile.cmd", "bin/cloudfile.cmd"},
  {copy, "rebar_files/start_erl.cmd", "bin/start_erl.cmd"},
  {copy, "rebar_files/install_upgrade.escript", "bin/install_upgrade.escript"},
  {copy, "rebar_files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
  {copy, "rebar_files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
