[
  {cloudfile, [
    {http_port, 4421},
    {http_listener_count, 100}
  ]},
  {cfile, []},
  {cfstore, []},
  {lager, [
    {colored, true},
    {async_threshold, 100},
    {async_threshold_window, 5},
    {error_logger_hwm, 100},
    {handlers, [
      {lager_console_backend, debug}
    ]}
  ]}
].
